@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Thambi+2&family=EB+Garamond&family=Gideon+Roman&family=Hubballi&family=Poppins:ital,wght@0,100;0,400;1,100;1,200&family=Quintessential&family=Raleway:ital@0;1&family=Roboto:ital,wght@0,400;1,100&family=Rubik:wght@300;400&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;  */
:root {
    --color-yellow: rgb(50, 152, 27);
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f749c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color0light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-light: #8e8e94;
    --color-sky: #282c58;
    --color-dark: #17171a;
    --color-green: rgb(53, 128, 57);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--color-yellow);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* html::-webkit-scrollbar{
    width: 1.3rem;
    background-color: rgb(56, 29, 29);
} */
html::-webkit-scrollbar-thumb {
    background-image: var(--color-yellow);
}

html::-webkit-scrollbar-track {
    background: #222;
}

body {
    /* background: rgba(55, 52, 52, 0.974); */
    color: black;
    overflow-x: hidden;
}


#preloader {
    overflow: hidden;
    background: #a4c639;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Header Style */
header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 80px;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 1px 4px 3px var(--color-yellow);
}

header .navbar {
    padding: 10px 10px;
}

.background-header .navbar {
    padding: 0px 0px;
}

.background-header {
    top: 0;
    position: fixed;
    /* background-color: rgba(26, 54, 11, 0.945) !important; */
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
    color: #c2c5b9 !important;
}

.background-header .navbar-nav a.nav-link {
    color: #ffffff !important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.current,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #a4c639 !important;
}

.navbar .navbar-brand {
    float: left;
    margin-top: 12px;
    outline: none;
}

.navbar .navbar-brand h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: 900;
    transition: all 0.3s ease 0s;
    line-height: 4rem;
}

.navbar .navbar-brand h2 span {
    color: var(--color-yellow);
}

.navbar .navbar-brand h2 em {
    font-style: normal;
    font-size: 16px;
}

#navbarResponsive {
    z-index: 999;
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.925);
    transition: all 0.5s;
    margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.current,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #a3d400;
    border-bottom: 3px solid #0f110a;
}

.navbar .navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler {
    border-color: rgb(12, 60, 7);
    background-color: rgb(121, 110, 110);
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar .navbar-toggler-icon:after {
    content: "\f0c9";
    color: #a4c639;
    font-size: 18px;
    line-height: 26px;
    font-family: "FontAwesome";
}

.login-buttons a {
    font-size: 18px;
    color: black;
}


/* THEME CHANGER */
.dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
    --bg-grey-light: #142136;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;
}

.user {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
}

.home .user p {
    font-style: normal;
    color: rgb(1, 0, 0);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.user img {
    object-fit: cover;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 3px solid var(--color-yellow);
    transition: .5s;
}

.user img:hover {
    cursor: pointer;
    border: 10px solid rgb(56, 66, 56);
}

.home {
    position: relative;
    top: 9rem;
    padding: 3rem 2rem;
    height: auto;
}

.home h3 {
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    font-family: 'Quintessential', cursive;
}


/* navabar new */

.home .cont h1 {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 800;
}

.user h5 {
    color: black;
}

.home h1 .cont {
    font-weight: 500;
    font-size: 4rem;
    color: rgb(12, 10, 10);
    font-family: 'Roboto', sans-serif;
}

.home h6 {
    font-size: 12px;
}

.home h1 span {
    color: var(--color-yellow);
    font-weight: 700;
    animation: .8s shake infinite alternate;
    animation: alternate;
}


.home .hero p {
    color: rgb(0, 0, 0);
    font-size: 16px;
}



.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 4rem;
    font-size: 2rem;
    border: 1px solid var(--color-yellow);
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
    color: #1a1a1a;
}

.btn:hover {
    background: transparent;
    box-shadow: 1px 1px 1px 1px var(--color-yellow);
    color: #17171a;
}

#about {
    margin-top: 10rem;
}

.heading {
    text-align: center;
    margin: 0rem 5rem;
    border-bottom: .1rem solid rgb(2, 15, 5);
    color: rgb(46, 32, 32);
}

.heading span {
    color: rgb(14, 17, 17);
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h1 {
    font-size: 1.6rem !important;
    color: rgb(20, 23, 29);
    font-weight: normal;
    text-transform: capitalize;
    font-weight: 300;
}

.about .row .info h1 span {
    color: rgb(27, 24, 24);
    padding: 0 1.5rem;
    font-weight: 900;
}

.about .row .info h3:nth-child(2) {
    text-transform: lowercase;
}

.about .row .counter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 2rem; */
}

.about .row .counter .box {
    width: 25rem;
    background-color: rgb(54, 51, 51);
    padding: 2rem;
    margin: 2rem;
    box-shadow: 2px 2px 2px rgb(109, 139, 82);
}

.about .row .box span {
    font-size: 3.7rem;
    color: var(--color-yellow);
}

.about .row .box h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.about .row .box span {
    font-size: 3.7rem;
    color: rgb(185, 195, 183);
}

.about .btn i {
    color: aqua;
}

.education .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 4rem;
}

.education .box-container .box {
    margin: 2rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid rgb(34, 31, 31);
    position: relative;
}

.education .box-container .box:hover {
    box-shadow: 2px 1px 1px rgb(233, 227, 227);
    cursor: pointer;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background-color: #222;
    color: rgb(17, 13, 13);
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 1.9rem;
    color: var(--color-yellow);
    text-decoration: underline;
    font-weight: 400;
    padding-top: 1rem;
}

.education .box-container .box p {
    font-size: 1.5rem;
    color: rgb(7, 19, 7);
    padding: 1rem 0rem;
    line-height: 2rem;
    text-transform: none;
}



.education .box-container .box img {
    border: 2px solid var(--color-yellow);
    padding: 1px;
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
}

.latest-products {
    margin-top: 50px;
  }
  
  .latest-products .section-heading a {
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #000000;
  }
  
  .product-item {
    margin-bottom: 30px;
    border: 1px solid rgba(135, 143, 135, 0.39);
    padding: 3px;
    border-radius: 10px;
  }

  .product-item img {
    width: 100%;
    height: 34rem;
  }

.contact .row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 5rem; */
    margin: 3rem 5rem;
}

.info {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    color: rgb(19, 16, 16);
    font-size: 2rem;
}

.contact .row .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -3rem;
    text-transform: none;
}

#responsive__footer {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #111414;
    color: rgb(250, 244, 234);
}

#responsive__footer ul li {
    list-style: none;
    font-size: 1.7rem;
}

#responsive__footer ul li a {
    color: white;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--color-yellow);
}

.top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    /* display: none; */
}

.info-header h5 {
    color: rgb(4, 24, 7);
    font-size: 19px;
}

.social-links {
    text-align: center;
}

.social-links h3 {
    padding: 5px 0px;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    text-align: left;
}


/* contact form */
.contact-form, .address-col, .mapouter { 
    max-width: 100%;
 }
 
.form-control {
	padding: 10px 20px;
	width: 100%;
	height: auto;
}

.form-group {
     margin-bottom: 25px; 
    }
  
    .contacts { 
        padding-left: 0;
     }
   
    .contacts-container h2{
        font-size: 24px;
        font-weight: 700;
        color: var(--color-bg-dark);
    }
    .contacts-container .contacts li {
        list-style: none;
        padding: 2px 0;
    }
    .contacts-container .contacts li a {
        text-decoration: none;
        font-size: 18px;
        line-height: 35px;
        color: var(--color-bg-dark);
        font-weight: 600;
    }
    .contacts-container .contacts li a:hover {
        color: var(--color-black);
    }
    .contacts-container .contacts li i {
        color: var(--color-primary);
        font-weight: 700;
        font-size: 18px;
        margin-right: 7px;
    }


.social-links h3 i {
    margin-right: 5px;
    background-color: var(--color-yellow);
    color: white;
    font-size: 15px;
    border: 1px solid var(--color-yellow);
    border-radius: 50%;
    padding: 10px;
}

footer {
    background-color: #0f0e0f;
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--color-white);
    /* margin-bottom: 10px; */
}

footer p {
    color: rgb(53, 113, 26);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

footer span {
    color: #585155;
}

.footer__content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer__content ul {
    display: flex;
}

.footer__content ul li {
    padding: 0rem 1rem;
    list-style: none;
}

.footer__content ul li a {
    color: rgb(93, 230, 127);
    font-weight: 500;
    font-size: 1.4rem;
}

.footer__content ul li a:hover {
    color: #fff;
}

.socials {
    margin: 0rem 1rem;
}

.socials i {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 0rem 1rem;
}










@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    /* navbar */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button #close-menu-btn {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.2rem;
        animation: animateNav 1s linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 300ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 500ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 700ms;
    }

    @keyframes animateNav {
        0% {
            transform: rotateZ(-120deg) rotateX(120deg) scale(0.2);

        }

        100% {
            transform: rotateZ(1) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: var(--color-primary);
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header .toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 50%;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 7rem;
        padding-bottom: 4rem;
    }

    .user {
        padding-left: 30%;
        padding-bottom: 2rem;
    }
}

@media (max-width:700px) {
    .education .box-container {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
    }
}

@media (max-width:500px) {
    .about .row .counter {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about .row .counter .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portfolio .box-container {
        grid-template-columns: 1fr;
    }

    .portfolio .box-container .box {
        width: 100%;
    }

    .myHeading h1 {
        color: #fff;
        line-height: 5rem;
        font-size: 2rem;
    }

    .contact .row form {
        margin: 3rem 0;
    }

    .user {
        padding-left: 15%;
    }
}

@media (max-width:485px) {
    .post span {
        font-size: 1.7rem;
    }

    /* navbar */

}